.expeditions .hero {
  background-image: var(--overlay), url('../assets/hero-expeditions.jpg');
}

.slick-prev {
  left: 24px;
  z-index: 1;
}

.slick-next {
  right: 24px;
  z-index: 1;
}

.slick-dots {
  bottom: 6px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: var(--white);
  font-size: 8px;
}

.slide {
  background-size: cover;
  background-position: center;
  color: var(--white);
  height: var(--image-height);
  position: relative;
}

.slide article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.slide article h1 {
  width: 100%;
  max-width: 440px;
}

.slide article p {
  max-width: 440px;
}

.slide.robbert {
  background-image: var(--overlay), url('../assets/hero-robbert.jpg');
}

.slide.jelmer {
  background-image: var(--overlay), url('../assets/hero-jelmer.jpg');
}

.slide.sjaak {
  background-image: var(--overlay), url('../assets/hero-sjaak.jpg');
  background-position: top;
}