footer {
  padding: 24px;
  text-align: center;
  background-color: var(--light-gray);
}

footer .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer img {
  width: 28px;
}

footer img + span {
  margin-left: 8px;
}

footer p,
footer a {
  font-size: 16px;
  color: var(--gray);
}

footer a {
  text-decoration: none;
}

footer nav a {
  display: inline-block;
  padding: 0 8px 16px;
}

footer .contact a {
  display: flex;
  align-items: center;
  padding: 0 8px 16px;
}
