header {
  background-color: var(--white);
}

header section {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  font-family: 'Bebas Neue', sans-serif;
}

header nav {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  height: 70px;
}

header nav a {
  font-size: 23px;
  line-height: inherit;
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

header a img {
  display: block;
  height: 70px;
}

header nav a.active {
  border-bottom: 2px solid currentColor;
}

header a:last-child {
  margin-right: 0;
  margin-top: 0;
  color: var(--green);
}

@media (min-width: 768px) {
  header nav a {
    font-size: 30px;
    border-bottom: 2px solid transparent;
    margin: 0 8px;
    margin-top: 2px;
  }

  header section {
    padding: 24px 32px;
  }

  header nav {
    height: 100px;
    flex-direction: row;
    align-items: center;
  }

  header a:last-child {
    margin-top: 2px;
  }

  header a img {
    height: 100px;
  }
}
