.home .hero {
  background-image: var(--overlay), url('../assets/hero-home.jpg');
}

.quote.buiten {
  background-image: var(--overlay), url('../assets/buiten.jpg');
}

.quote.vuur {
  background-image: var(--overlay), url('../assets/vuur.jpg');
}
