.image {
  min-height: var(--image-height);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  background-size: cover;
  background-position: center;
  position: relative;
}

.image article {
  display: block;
  width: auto;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image h1 {
  font-size: 56px;
  text-align: center;
  color: var(--white);
  margin-bottom: 0;
}

.image p {
  max-width: 440px;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  margin-top: 12px;
}

.home .image:first-child article {
  width: 100%;
  align-items: flex-start;
}

.home .image:first-child p {
  text-align: left;
}

.home .image:first-child h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 16px 0 8px;
}

.about .image:first-child article {
  width: 100%;
  align-items: flex-end;
}

.about .image:first-child p {
  text-align: right;
}
