:root {
  --green: #39B54A;
  --soft-green: #D3EBD1;
  --softer-green: #EAf6EA;
  --light-green: #92CC8D;
  --dark-green: #1D6839;
  --white: #FEFEFE;
  --off-white: #FAFAFA;
  --black: #1D1F1F;
  --gray: #707075;
  --light-gray: #F2F2F3;
  --overlay: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  --image-height: 440px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray);
  background-color: var(--off-white);
}

p,
ul {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}

li {
  margin-bottom: 6px;
  margin-left: 30px;
  list-style-type: disc;
}

li::marker {
  color: var(--black);
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  margin-bottom: 12px;
  color: var(--black);
}

ul h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 6px;
}

article {
  width: 100%;
  padding: 44px 24px;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
}

article section {
  flex: 1;
}

article section:first-child {
  margin-bottom: 8px;
  margin-right: 24px;
}

.sign-up.button {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 4px;
  display: inline-block;
}

.slick-prev {
  left: 24px;
  z-index: 1;
}

.slick-next {
  right: 24px;
  z-index: 1;
}

.slick-dots {
  bottom: 6px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: var(--white);
  font-size: 8px;
}

@media (min-width: 768px) {
  .hero h1,
  .quote h1 {
    font-size: 56px;
  }

  article {
    padding: 56px 32px;
  }

  article > section {
    display: flex;
    flex-wrap: wrap;
  }
  
  article section:first-child {
    margin-bottom: 0;
  }
}